div {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

img {
    float: right;
    height: 100px;
    
}

hr {
    width: 75%;

}

h1 {
    text-align: left;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3, h3 a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2em;
    font-size: x-large;
    color: orangered;
    font-weight: 100;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: wheat;
}

div.footer {
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

span, span a{
    color: orangered;
    text-decoration: none;
}